<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Encryption</title>
    <style>
        /* This will set the background color to green */
        body {
            background-color: rgb(154, 136, 199);
            color: white; /* Adjust text color for contrast */
        }
    </style>
</head>
<body>
    <header>
        <h1>pending booking Screen</h1>
        <nav>
            <a href="{% url 'landing' %}">Home</a> 
        </nav>
    </header>

    <main>
        
    </main>
   
    
</html>
