<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to GreenFields Golf Club</title>
    <style>
        /* This will set the background color to green */
        body {
            background-color: rgb(88, 119, 88);
            color: white; /* Adjust text color for contrast */
        }
    </style>
</head>
<body>
    <header>
        <h1>GreenFields Golf Club Booking Screen</h1>
        <nav>
            <a href="{% url 'landing' %}">Home</a> 
        </nav>
    </header>

    <main>
        <div class="timeslots">
            {% for x in schedule %}
                <a href="{% url 'assign_timeslot' x.id %}">
                    <button>{{ x.timeslot }}</button>
                </a>
            {% empty %}
                <p>No schedule available.</p>
            {% endfor %}
        </div>
    </main>

    
</html>
