<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> DASHBOARDPAGE</title>
    <style>
        /* This will set the background color to green */
        body {
            background-color: rgb(52, 14, 67);
            color: white; /* Adjust text color for contrast */
        }
    </style>
</head>
<body>
    <header>
        <h1>GreenFields Golf Club DASHBOARD page                  here</h1>
        <nav>
             
           
            <a href="#">Events</a> |
            
        </nav>
    </header>

    <main>
        <section>
            <h2>Welcome to the Club dashboaud page</h2>
            
        </section>
        <section>
            <h2>Welcome to the Club dashboard page</h2>
            <p>Hello, {{ user.username }}!</p>
            <p>Email: {{ user.email }}</p>
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
        </section>

    </main>

    <footer>
        <p>&copy; 2025 GreenFields Golf Club | <a href="#">Contact Us</a></p>
    </footer>
</body>
</html>